<div class="container">
  <div class="row">
  <%= render partial: 'shared/page_title', locals: { page_title: "お子さん一覧" } %>
    <table class="table mb-0">
        <tr>
          <th>名前</th>
          <th>性別</th>
          <th>生年月日</th>
          <th>年齢</th>
          <th></th>
          <th></th>
        <tr>
        <% @children.each do |child|%>
          <td>
            <%= link_to "/users/#{@user.id}/children/#{child.id}" do %>
              <%= child.nickname %>
            <% end %>
          </td>
          <td><%= child.gender %></td>
          <td><%= child.birthdate %></td>
          <td><%= child.age %></td>
          <td>
            <%= link_to "編集", "/users/#{@user.id}/children/#{child.id}/edit" %>
          </td>
          <td>
            <%= link_to "登録解除", "/users/#{@user.id}/children/#{child.id}", method: :delete, data: { confirm: '登録を解除しますか？' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= link_to "お子さんの登録", "/users/#{@user.id}/children/new", class: "btn btn-primary my-4" %>
</div>
