<div class="container">
  <div class="row">
    <%= render partial: 'shared/page_title', locals: { page_title: "ワクチン接種スケジュール" } %>
    <ul>
      <li><span>名前:<%= @child.nickname %></span></li>
      <li><span>生年月日:<%= @child.birthdate%></span></li>
    </ul>
    <span class="text-black-50">接種予定日は生年月日から自動計算されています。実際の接種日はかかりつけ医とご相談ください。
      <a href='https://www.jpeds.or.jp/uploads/files/vaccine_schedule.pdf'>推奨スケジュール</a>(日本小児学会HPより)<span>
    <p class=text-black-50>おたふくかぜは任意接種です。<br>
    おたふくかぜ(2回目)と麻しん・風しん混合(第2期)は小学校入学前1年間の間に接種推奨です。</p>
    <table class="table mb-0">
      <tr>
        <th>接種可能予定日</th>
        <th>ワクチン名・回数</th>
          <% @vaccination_schedules.each do |vaccination_schedule| %>
            <tr>
              <td><%= vaccination_schedule[0] %></td>
              <td><%= vaccination_schedule[1] %></td>
              <td><%= vaccination_schedule[2] %></td>
              <td><%= vaccination_schedule[3] %></td>
              <td><%= vaccination_schedule[4] %></td>
              <td><%= vaccination_schedule[5] %></td>
              <td><%= vaccination_schedule[6] %></td>
            </tr>
          <% end %>
      </tr>
    </table>
  </div>
</div>