<div class="container">
  <div class="row">
    <%= render partial: 'shared/page_title', locals: { page_title: "#{@user.username}さんのプロフィール" } %>
    <div class="col-md-6">
    <h3 class="d-grid gap-2 col-6 mx-auto">プロフィール</h3>
      <%= form_with model: @user do |f| %>
      <% if @user.icon_image.blank?%>
        <%= image_tag "no_image.jpeg", size: "60x60", class: "rounded-circle" %>
      <% else %>
        <%= image_tag @user.icon_image.url, size: "60x60", class: "rounded-circle" %>
      <% end %>
      <table>
        <div class="form-group">
          <tr>
            <th><%= f.label :username ,"ユーザー名", for: "username" %></th>
            <td><%= f.text_field :username, readonly: true, value: @user.username, class: "form-control", id: "username", size: 35 %></td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <th><%= f.label :profile ,"自己紹介", for: "profile-edit" %></th>
            <td><%= f.text_area :profile, readonly: true, value: @user.profile, class: "form-control mb-3", id: "profile", rows: 8 %></td>
          </tr>
        </div>
      </table>
      <ul class="list-unstyled d-flex flex-inline">
        <div class="col-auto">
          <li>
            <%= link_to "フォロー中:#{@user.followings.count}", followings_user_path(@user) %>
          </li>
        </div>
        <div class="col-auto">
          <li class="ms-3">
            <%= link_to "フォロワー:#{@user.followers.count}", followers_user_path(@user) %></p>
          </li>
        </div>
        <div class="col-auto">
          <li class="ms-3">
            <%= link_to "ユーザー一覧に戻る", users_path %></p>
          </li>
        </div>
      </ul>
      <%= f.hidden_field :id, value: @user.id %>
      <% if @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-primary d-grid gap-2 col-5 mx-auto" %><br>
        <%= link_to "アカウント情報変更", edit_user_registration_path, class: "btn btn-primary d-grid gap-2 col-5 mx-auto mb-4" %>
        <%= link_to "ワクチン接種スケジュール", "/users/#{@user.id}/children/new", class: "btn btn-primary d-grid gap-2 col-5 mx-auto mb-4" %>
      <% end %>
    <% end %>
    </div>

    <div class="col-md-6">
      <div class="user-posts-wrapper">
        <h3 class="d-grid gap-2 col-6 mx-auto"><%= @user.username %>さんの投稿</h3>
        <% if @posts.present? %>
          <ul class="relative-post-lists">
            <% @posts.each do |post| %>
              <li class='post-list'>
                <div class='user-img-content'>
                  <% if post.user.icon_image.url.blank?%>
                    <%= image_tag "no_image.jpeg", size: "60x60", class: "rounded-circle" %>
                  <% else %>
                    <%= image_tag post.user.icon_image.url, size: "60x60", class: "rounded-circle" %>
                  <% end %>
                  <%= link_to post.title, post_path(post) %>
                </div>
                <div class="form-group">
                  <%= form_with model: @post do |f| %>
                    <%= f.text_area :content, readonly: true, value: post.content, class: "form-control m-2", rows: 4 %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <%= link_to "もっと見る", user_posts_path, class: "btn btn-outline-secondary d-grid gap-2 col-4 mx-auto user-posts-link" %>
        <% else %>
          <p class="text-center my-4">投稿がありません</p>
        <% end %>
      </div>

      <h3 class="d-grid gap-2 col-6 mx-auto">お気に入りした投稿</h3>
      <% if @favorite_list.present? %>
        <ul class="relative-post-lists">
          <% @favorite_list.each do |post| %>
            <li class='post-list'>
              <div class='user-img-content'>
                <% if post.user.icon_image.url.blank?%>
                  <%= image_tag "no_image.jpeg", size: "60x60", class: "rounded-circle" %>
                <% else %>
                  <%= image_tag post.user.icon_image.url, size: "60x60", class: "rounded-circle" %>
                <% end %>
                <%= link_to post.user.username, user_path(post.user.id) %>
                <%= link_to post.title, post_path(post), class:"ms-2" %>
              </div>
              <div class="form-group">
                <%= form_with model: @post do |f| %>
                  <%= f.text_area :content, readonly: true, value: post.content, class: "form-control m-2", rows: 4 %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <%= link_to "もっと見る", favorites_user_path(@user.id), class: "btn btn-outline-secondary d-grid gap-2 col-4 mx-auto user-favorites-link" %>
      <% else %>
        <p class="text-center my-4">お気に入りした投稿がありません</p>
      <% end %>
    </div>
  </div>
</div>
