<div class="container">
  <div class="row">
    <%= render partial: 'shared/page_title', locals: { page_title: "#{@user.username}さんの投稿" } %>
    <div class="scroll-list jscroll">
      <% if @user_posts.present? %>
        <% @user_posts.each do |post| %>
          <div class="each-post mt-3">
            <ul class="list-unstyled">
              <li class='media mb-4'>
                <% if post.user.icon_image.url.blank?%>
                  <%= image_tag "no_image.jpeg", size: "60x60", class: "rounded-circle" %>
                <% else %>
                  <%= image_tag post.user.icon_image.url, size: "60x60", class: "rounded-circle" %>
                <% end %>
              </li>
                <div class='media-body'>
                  <li><%= link_to post.title, post_path(post)%></li>
                  <li><%= post.content %></li>
                  <% if post.content_image? %>
                    <li>
                      <%= link_to post.content_image.url, "data-lightbox": post.content_image.url do %>
                        <%= image_tag post.content_image.url, size: "60x60", class: "img-responsive", style: "cursor:pointer" %>
                      <% end %>
                    </li>
                  <% end %>
                </div>
            </ul> 
            <ul class="list-unstyled d-flex flex-inline">
              <div class='heart-btn col-auto' id="favorite_<%= post.id %>">
                <% if !Favorite.exists?(user_id: current_user.id, post_id: post.id) %>
                  <li>
                    <%= link_to post_favorites_path(post.id), method: :post, remote: true, class:"heart-btn" do %>
                      <i class="fa-regular fa-heart fa-1x", style="color:red;"></i>
                    <% end %>
                    <span class="heart-count1"><%= post.favorites.count %></span>
                  </li>
                <% else %>
                  <li>
                    <%= link_to post_favorites_path(post_id: post.id, id: post.favorites[0].id), method: :delete, remote: true, class:"heart-btn" do %>
                      <i class="fa-solid fa-heart fa-1x", style="color:red;"></i>
                    <% end %>
                    <span class="heart-count2"><%= post.favorites.count %></span>
                  </li>
                <% end %>
              </div>
              <div class='comment-btn col-auto' id="comment_<%= post.id %>">
                <li class="ms-2">
                  <%= link_to post_path(post) do %>
                    <i class="fa-regular fa-comment fa-1x", style="color:blue;"></i>
                    <span><%= post.comments.count %></span>
                  <% end %>
                </li>
              </div>
            </ul>
            <p class="text-black-50"><%= l post.created_at %></p>
          </div>
        <% end %>
      <% end %>
      <%= paginate @user_posts %>
    </div>
  </div>
</div>
