<h3><%= @user.username %>さんの投稿</h3>
<% if @user_posts.present? %>
  <ul class="relative-post-lists">
    <% @user_posts.each do |post| %>
      <li class='post-list'>
        <div class='user-img-content'>
          <% if post.user.icon_image.url.blank?%>
            <%= image_tag "no_image.jpeg", size: "60x60", class: "user-icon" %>
          <% else %>
            <%= image_tag post.user.icon_image.url, size: "60x60", class: "user-icon" %>
          <% end %>
          <%= link_to post.title, post_path(post)%>
        </div>
        <%= post.content %>
      </li>
    <% end %>
  </ul>
<% end %>
