<div class="container">
  <h2 class="d-flex align-items-center justify-content-center">パスワード再設定</h2>
  <div class="d-flex align-items-center justify-content-center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="reset-password-form form-group">
        <%= f.label :password, "新しいパスワード", for: "new-password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", id: "new-password" %>
      </div>

      <div class="reset-password-form form-group">
        <%= f.label :password_confirmation, "パスワード（確認用）", for: "new-password-confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "new-password-confirmation" %>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <%= f.submit "パスワード変更", class: "btn btn-primary reset-password-btn" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
