<div class="container">
  <h2 class="d-flex align-items-center justify-content-center">パスワード再設定</h2>
  <div class="d-flex align-items-center justify-content-center">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div  class="reset-form form-group">
    <%= f.label :email, for: "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email" %>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <%= f.submit "パスワード再設定メールを送る", class: "btn btn-primary reset-password-btn" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>