<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid header">
    <%= link_to "Help Parents", root_path, class: "navbar-brand" %>
      <%= search_form_for @search, url: search_posts_path do |f| %>
        <%= f.search_field :title_or_child_sex_or_child_age_year_or_child_age_month_or_content_cont_any, class: "form-control me-2", :placeholder => "キーワード" %>
        <%= f.submit '検索', class: "btn btn-outline-success" %>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="float-end">
        <% if user_signed_in? %>
          <ul class = "navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
            <li class="nav-item"><%= link_to "投稿一覧", posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "新規投稿", new_post_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "nav-link" %></li> 
          </ul>
        <% else %>
          <ul class = "navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
            <li class="nav-item"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", :new_user_session, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "新規登録", :new_user_registration, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "about", about_path, class: "nav-link" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
