<div class="container">
  <div class="row">
    <%= render partial: 'shared/page_title', locals: { page_title: "ワクチン記録" } %>
    <table>
      <tbody>
        <% @vaccinations.each do |vaccination| %>
          <tr>
            <th><%= vaccination.name %></th>
            <td><%= vaccination.period %></td>
            <% vaccination.histories.each do |history| %>
              <td><%= history.date %></td>
              <td><%= link_to "接種済み登録をする", edit_user_child_history_path(params[:child_id], history.id, user_id: current_user.id, vaccination_id: vaccination.id) %></td>
            <% end %>
            <% unless vaccination.histories.present? %>
              <td><%= link_to "予定を登録する", new_user_child_history_path(params[:child_id], user_id: current_user.id, vaccination_id: vaccination.id), class: "btn btn-primary" %></td>
            <% end %>
          <% end %> 
          </tr>
      
      
        
      </tbody>
    </table>






  </div>
</div>