<div class="container">
  <%= render partial: 'shared/page_title', locals: { page_title: "接種日を登録する" } %>
  <%= render "shared/error", obj: @child %>

  <%= form_with model: [@child, @history], url: user_child_histories_path do |f| %>
    <%= render partial: 'histories/vaccination_name' %>
    <table class="d-flex align-items-center justify-content-center">
      <div class="form-group">
        <tr>
          <th><%= f.label :date,"接種日", for: "vaccination_date" %></th>
          <td><%= f.date_field :date, class: "form-control", id: "vaccination_date" %>
        </tr>
      </div>
      <div class="form-group">
        <tr>
          <th><%= f.label :vaccinated,"接種済み", for: "vaccinated" %></th>
          <td><%= f.check_box :vaccinated, {}, true, false %></td>
        </tr>
      </div>
    </table>
  <%= f.hidden_field :vaccination_id, value: @vaccination.id %>
  <div class="d-flex align-items-center justify-content-center"><%= f.submit "登録する", class: "btn btn-primary my-3" %></div>
  <% end %>
</div>