<div class="container">
  <%= render partial: 'shared/page_title', locals: { page_title: "ログイン" } %>
    <div class="d-flex align-items-center justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="signin-form form-group">
          <%= f.label :email, for: "email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email" %>
        </div>

        <div class="signin-form form-group">
          <%= f.label :password, for: "password" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="signin-form form-check">
            <%= f.check_box :remember_me, class: "form-check-inpout", id: "remember_me" %>
            <%= f.label :remember_me, for: "remember_me" %>
          </div>
        <% end %>

        <div class="d-flex align-items-center justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-primary signin-btn mt-4" %>
        </div>
      <% end %>
    </div>
      <%= render "devise/shared/links" %>
</div>
