<h3>投稿一覧</h3>
<% @search_posts.each do |post|%>
<table>
  <tr>
    <td>
      <% if post.user.icon_image.blank?%>
        <%= image_tag "no_image.jpeg", size: "60x60", class: "user-icon" %>
      <% else %>
        <%= image_tag post.user.icon_image.url, size: "60x60", class: "user-icon" %>
      <% end %>
    </td>
    <td><%= post.user.username %></td>
    <td><%= link_to post.title, post_path(post)%></td>
    <td><%= post.content %></td>
  </tr>
</table>
<% end %>
<%= hidden_field_tag :user_id, value: current_user.id %>
<%= hidden_field_tag :post_id, value: @posts.ids %>
