<div class="container">
  <div class="row">
    <%= render partial: 'shared/page_title', locals: { page_title: "投稿一覧" } %>
      <div class="scroll-list jscroll">
        <% @search_posts.each do |post|%>
          <div class="each-post mt-3">
            <ul class="list-unstyled">
              <% if post.user.icon_image.blank?%>
                <%= image_tag "no_image.jpeg", size: "60x60", class: "rounded-circle" %>
              <% else %>
                <%= image_tag post.user.icon_image.url, size: "60x60", class: "rounded-circle" %>
              <% end %>
              <%= link_to post.user.username, user_path(post.user.id) %>
            </ul>
            <ul class="list-unstyled">
              <li><%= link_to post.title, post_path(post)%></li>
              <li><%= post.content %></li>
              <% if post.content_image? %>
                <li>
                  <%= link_to post.content_image.url, "data-lightbox": post.content_image.url do %>
                    <%= image_tag post.content_image.url, size: "60x60", class: "img-responsive", style: "cursor:pointer" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="col-md-3 row">
              <ul class="list-unstyled d-flex flex-inline">
                <div class='col-auto' id="favorite_<%= post.id %>">
                  <%= render "shared/favorite", post: post %>
                </div>
                <div class='comment-btn col-auto' id="comment_<%= post.id %>">
                  <li class="ms-2">
                    <%= link_to post_path(post) do %>
                      <i class="fa-regular fa-comment fa-1x", style="color:blue;"></i>
                      <span><%= post.comments.count %></span>
                    <% end %>
                  </li>
                </div>
              </ul>
            </div>
              <p class="text-black-50"><%= l post.created_at %></p>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    <%= hidden_field_tag :user_id, value: current_user.id %>
    <%= hidden_field_tag :post_id, value: @post_data.ids %>
  </div>
</div>
